/* .bg-card {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.4),
    0px 1px 14px 0px rgba(0, 0, 0, 0.4) !important;
  border-radius: 7px;
  float: inline-start;
  background-color: rgba(0, 0, 0, 0.007);
} */
.brandsecondary {
  background-color: #dfab01;
}

.brand {
  /* background-color: #69156A; */
  color: #69156A;
}

.containerCarrusel {
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    /* top: -30px; */
}

.img-carrousel {
  background-size: contain !important;
}